.header-glide .glide__slide:not(.glide__slide--active) {
  transition: opacity 0.3s ease;
}
.header-glide .glide__slide {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 26px 30px,
    rgba(0, 0, 0, 1) 0px 16px 10px -10px;
}
.header-glide .glide__slide--active {
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 26px 30px,
    rgba(0, 0, 0, 1) 0px 16px 10px -10px;
  transition: border 0.2s ease-in-out, opacity 0.2s ease-in-out,
    box-shadow 0.5s ease-in-out;
}
@media (max-width: 1024px) {
  .header-glide .glide__slide--active {
    border: 2px solid white;
  }
}
.header-glide .glide__slide--active:hover {
  border: 2px solid white;
}
.header-glide .glide__arrow--left {
  left: -0.5rem !important;
}
.header-glide .glide__arrow--right {
  right: -1rem !important;
}
.header-glide .glide__slide:not(.glide__slide--active) {
  opacity: 0.5;
}

/* Multiple Glide Carousel */
.trending-movies-glide .glide__track,
.popular-movies-glide .glide__track,
.provider-series-glide .glide__track,
.similar-series-glide .glide__track,
.provider-movies-glide .glide__track {
  overflow: visible !important;
}
.trending-movies-glide .glide__slide img,
.popular-movies-glide .glide__slide img,
.provider-series-glide .glide__slide img,
.provider-movies-glide .glide__slide img,
.similar-series-glide .glide__slide img {
  width: 100%;
  aspect-ratio: 2/3 !important;
  object-fit: cover;
}
.trending-movies-glide .glide__slide,
.popular-movies-glide .glide__slide,
.provider-series-glide .glide__slide,
.provider-movies-glide .glide__slide,
.similar-series-glide .glide__slide {
  position: relative;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.trending-movies-glide .glide__slide .movie-img-container,
.popular-movies-glide .glide__slide .movie-img-container,
.provider-series-glide .glide__slide .movie-img-container,
.provider-movies-glide .glide__slide .movie-img-container,
.similar-series-glide .glide__slide .movie-img-container {
  margin-bottom: 0.5rem;
  box-shadow: 0px 6px 8px rgba(203, 196, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.trending-movies-glide .glide__slide--active .movie-img-container,
.popular-movies-glide .glide__slide--active .movie-img-container,
.provider-series-glide .glide__slide--active .movie-img-container,
.provider-movies-glide .glide__slide--active .movie-img-container,
.similar-series-glide .glide__slide--active .movie-img-container {
  height: 100% !important;
  box-shadow: 0px 6px 16px rgba(203, 196, 0, 0.2);
}

/* .trending-movies-glide .glide__slide--active .movie-img-container .index-svg,
.popular-movies-glide .glide__slide--active .movie-img-container .index-svg,
.provider-series-glide .glide__slide--active .movie-img-container .index-svg,
.provider-movies-glide .glide__slide--active .movie-img-container .index-svg,
.similar-series-glide .glide__slide--active .movie-img-container .index-svg {
  width: 0;
} */

.index-svg {
  interpolate-size: allow-keyword;
  transition: width 0.3s ease;
}

.trending-movies-glide .glide__slide:not(.glide__slide--active),
.popular-movies-glide .glide__slide:not(.glide__slide--active),
.provider-series-glide .glide__slide:not(.glide__slide--active),
.provider-movies-glide .glide__slide:not(.glide__slide--active),
.similar-series-glide .glide__slide:not(.glide__slide--active) {
  opacity: 0.8;
  transform: scale(1);
}
.trending-movies-glide .glide__slide--active,
.popular-movies-glide .glide__slide--active,
.provider-series-glide .glide__slide--active,
.provider-movies-glide .glide__slide--active,
.similar-series-glide .glide__slide--active {
  opacity: 1;
  transform: scale(1.03);
}
.trending-movies-glide .glide__slides,
.popular-movies-glide .glide__slides,
.provider-series-glide .glide__slides,
.provider-movies-glide .glide__slides,
.similar-series-glide .glide__slides {
  overflow: visible !important;
}

/* Teasers Glide */
/* .teasers-glide .glide__track,
.teasers-glide .glide__slides{
  overflow: visible !important;
} */
.teaser-container {
  transition: transform 0.3s ease;
}
.teaser-container svg {
  transition: transform 0.3s ease;
}
.teaser-container:hover {
  transform: scale(1.05);
}
.teaser-container:hover .play-icon {
  transform: scale(1.2);
}
#teasers-container {
  position: relative;
  overflow: hidden;
  transition: background-image 0.5s ease-in-out;
}
#teasers-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}
#teasers-container h1 {
  z-index: 1;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: 4em;
  margin-bottom: 2.5rem;
}

.btn.selected {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: 600;
}

.hidden {
  display: none;
}

.translate-y-50 {
  transform: translateY(367%);
}
