---
import Layout from "@layouts/Layout.astro";
import VideoModal from "@components/UI/VideoModal.astro";
import HeaderGlide from "@components/Sliders/HeaderGlide";
import TeasersGlide from "@components/Sliders/TeasersGlide";
import ProviderMoviesGlide from "@components/Sliders/ProviderMoviesGlide";
import PopularMoviesGlide from "@components/Sliders/PopularMoviesGlide";
import ProviderSeriesGlide from "@components/Sliders/ProviderSeriesGlide";
import SectionContainer from "@components/SectionContainer.astro";
import { getPopularMoviesAndSeries } from "@lib/api/media/media.api";
---

<Layout title="Inicio">
  <main class="relative">
    <SectionContainer>
      <HeaderGlide client:load />
    </SectionContainer>

    <SectionContainer>
      <ProviderMoviesGlide client:only="react" />
    </SectionContainer>

    <SectionContainer>
      <ProviderSeriesGlide client:only="react" />
    </SectionContainer>

    <SectionContainer>
      <TeasersGlide client:load />
    </SectionContainer>

    <SectionContainer>
      <PopularMoviesGlide client:load />
    </SectionContainer>
    <VideoModal />
  </main>
</Layout>
