---
import Layout from "@layouts/Layout.astro";
import MovieList from "@components/MovieList";
import {
  allProviders,
  discoverMoviesByProvider,
  type MoviesResponse,
} from "@lib/api/movies";
import type { Provider } from "@lib/api/media";

// Obtén las primeras películas en el lado del servidor

const initialMovies: MoviesResponse = await discoverMoviesByProvider(
  1,
  allProviders
    .map((provider: Provider) => provider.provider_id.toString())
    .join("|")
);
---

<Layout title="Películas">
  <main>
    <MovieList
      initialMovies={initialMovies}
      initialProvider={allProviders}
      client:only="react"
    />
  </main>
</Layout>
