---
import type { Cast } from "@lib/api/media";
import type { MovieDetails } from "@lib/api/movies";
import type { SerieDetails } from "@lib/api/series";
interface Props {
  item: MovieDetails | SerieDetails;
}
const { item } = Astro.props;
---

<div class="py-20 px-4 flex justify-center items-center w-full">
  <div class="flex flex-col gap-y-4 w-full max-w-[1400px]">
    <h2 class="text-white font-bold text-3xl">Reparto</h2>
    <div class="grid grid-cols-3 md:grid-cols-5 gap-12 w-full">
      {
        item.credits.cast
          .sort((a: Cast, b: Cast) => b.popularity - a.popularity)
          .slice(0, 10)
          .map((credit: Cast) => (
            <div class="flex flex-col items-center gap-2">
              <div class="aspect-square max-w-32 rounded-full overflow-hidden">
                <img
                  class="w-full h-auto object-cover object-center"
                  src={`https://image.tmdb.org/t/p/original${credit.profile_path}`}
                  alt={credit.name}
                />
              </div>
              <div class="flex flex-col items-center justify-center">
                <span class="text-white text-sm text-center">
                  {credit.name}
                </span>
                <span class="text-gray-300 text-sm text-center">
                  {credit.character.split("/", 1)}
                </span>
              </div>
            </div>
          ))
      }
    </div>
  </div>
</div>
