<header>
  <nav class="flex flex-wrap justify-between items-center pb-16 ms-6 lg:mx-auto w-full xl:w-[1120px] lg:py-6">
    <div class="flex items-center justify-center gap-8">
      <a href="/">
        <img src="pmdb_logo_letras.png" alt="Logo de la página" class="w-40">
      </a>
      <ul class="flex items-center gap-8 text-white font-semibold">
        <li><a href="/peliculas">Películas</a></li>
        <li><a href="">Series</a></li>
      </ul>
    </div>
    <div class="flex items-center gap-4">
      <button class="text-[var(--background-color)] font-semibold rounded-lg text-sm px-6 py-2 bg-[var(--primary-color)] hover:bg-[var(--primary-color-hover)]">Iniciar Sesión</button>
      <button class="text-[var(--background-color)] font-semibold rounded-lg text-sm px-6 py-2 bg-[var(--primary-color)] hover:bg-[var(--primary-color-hover)]">Registrarse</button>
      <!-- SearchBar -->
      
    </div>
  </nav>
</header>