---
import '@fontsource/poppins';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PageLoader from '@components/PageLoader.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="icon" type="image/svg+xml" href="/pmdb_logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>PMDB - {title}</title>
	</head>
	<body>
		<script src="node_modules/flowbite/dist/flowbite.min.js"></script>
		<PageLoader />
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root{
		--primary-color: #CBC400;
		--primary-color-hover: #B3A400;
		--primary-color-shadow: rgba(203, 196, 0, 0.4);

		--background-color: #13151a;
		--background-secondary-color: #1a1c23;
	}
	html {
		font-family: 'Poppins', sans-serif;
		background: var(--background-color);
		overflow-x: hidden;
	}

	body{
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		transform: translateZ(0);
	}
</style>
